include ACKNOWLEDGEMENTS LICENSE README.md
include dependencies.ini run_tests.py utils/__init__.py utils/dependencies.py
include utils/check_dependencies.py
exclude .gitignore
exclude *.pyc
recursive-include config *
recursive-include data *
recursive-include dtformats *.yaml
recursive-exclude dtformats *.pyc
recursive-include scripts *.py
recursive-exclude scripts *.pyc
recursive-include test_data *
# The test scripts are not required in a binary distribution package they 
# are considered source distribution files and excluded by find_package().
recursive-include tests *.py
