Source: dtformats
Section: python
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all (>= 3.6~), python3-setuptools
Standards-Version: 4.1.4
X-Python3-Version: >= 3.6
Homepage: https://github.com/libyal/dtformats

Package: dtformats-data
Architecture: all
Depends: ${misc:Depends}
Description: Data files for dtFormats
 dtFormats is a collection of various file formats.

Package: python3-dtformats
Architecture: all
Depends: dtformats-data (>= ${binary:Version}), libfwsi-python3 (>= 20150606), libgzipf-python3 (>= 20221229), liblnk-python3 (>= 20150830), libolecf-python3 (>= 20151223), libregf-python3 (>= 20150315), python3-dfdatetime (>= 20180510), python3-dtfabric (>= 20220127), python3-lz4 (>= 0.10.0), python3-yaml (>= 3.10), ${misc:Depends}
Description: Python 3 module of dtFormats
 dtFormats is a collection of various file formats.

Package: dtformats-tools
Architecture: all
Depends: python3-dtformats (>= ${binary:Version}), ${misc:Depends}
Description: Tools of dtFormats
 dtFormats is a collection of various file formats.
