Source: dtformats
Section: python
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), python-all (>= 2.7~), python-setuptools, python3-all (>= 3.4~), python3-setuptools
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Homepage: https://github.com/libyal/dtformats

Package: dtformats-data
Architecture: all
Depends: ${misc:Depends}
Description: Data files for dtFormats
 dtFormats is a collection of various file formats.

Package: python-dtformats
Architecture: all
Depends: dtformats-data, libfwsi-python (>= 20150606), liblnk-python (>= 20150830), libolecf-python (>= 20151223), python-construct (>= 2.5.2), python-dtfabric (>= 20170524), python-yaml (>= 3.10), ${python:Depends}, ${misc:Depends}
Description: Python 2 module of dtFormats
 dtFormats is a collection of various file formats.

Package: python3-dtformats
Architecture: all
Depends: dtformats-data, libfwsi-python3 (>= 20150606), liblnk-python3 (>= 20150830), libolecf-python3 (>= 20151223), python3-construct (>= 2.5.2), python3-dtfabric (>= 20170524), python3-yaml (>= 3.10), ${python3:Depends}, ${misc:Depends}
Description: Python 3 module of dtFormats
 dtFormats is a collection of various file formats.

Package: dtformats-tools
Architecture: all
Depends: python-dtformats, python (>= 2.7~), ${python:Depends}, ${misc:Depends}
Description: Tools of dtFormats
 dtFormats is a collection of various file formats.
